.styles {
    width: 40vw;
    height: 20px;
    padding: 10px 10px;
    margin: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.enterButton {
    height: 40px;
    width: 80px;
    border-radius: 10px;
}
.songTable {
    table-layout: fixed;
    width: 95%;
    position: fixed;
    border: 2px inset rgb(34, 34, 59);
}

.songTable td {
    text-overflow: ellipsis;
    border: 1px solid  rgb(34, 34, 59);
}

.songTable th {
    text-align: left;
    padding: 5px 10px;
    border-spacing: 5px;
    background-color: lightblue;
    color: black;
    border: 2px inset rgb(34, 34, 59);
}

.deleteRow {
    width: 15%;
}